.color {
  color: red;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

.color {
  color: Red;
}

a {
  text-decoration: none;
  color: green;
}

.h2 {
  margin-left: 350px;
}

.id1 {
  text-align: left;
}
